node_modules/
.pnpm-store/
dist/
.venv/
__pycache__/
*.py[cod]
backend/.python-version

.env
.env.*

# wrangler
.dev.vars
.wrangler/

# terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
*.tfplan
